*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

/* navber */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2D4954;
    min-height: 8vh;
    height: 70px;
}
.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.navber-nav{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.navber-nav li{
    list-style: none;
}
.navber-nav a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 2px;
}
/* footer */
footer{
    padding: 50px 20px;
}

footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #2D4954;
    background-color: #4B4453;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container ul{
    margin-bottom: 32px;
    flex-wrap: wrap;
    
}
.container li{
    padding: 0 15px;
    margin-bottom: 16px;
    list-style: none;
}
.container a,p{
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.container i{
    text-align: center;
}